@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    -webkit-overflow-scrolling: touch;
    overflow-y:scroll;
    overflow-x:hidden;
    /*-webkit-transform:translate3d(0,0,0);*/
}

body {
    overscroll-behavior-y: none;
    font-family: 'Red Hat Display', sans-serif;

    /*background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);*/
    /*background-color: #fafafa;*/
    height: 100%;

}

.card {
    border-color: white;
}

.btn {
    border-radius: 1rem;
}

.alert {
    border-radius: 1rem;
}

.border-rounded {
    border-radius: 20px;
}

.natural-language-main-input {
    padding-top: 12px;
    padding-bottom: 12px;
}

.main-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.result-card-body {
    border-color: #494949;
    border-width: 1px;
    border-radius: 20px;
    margin: 8px;
}

.day-name {

}

.day-number {
    border-radius: 10px;
    margin-right: 3px;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.save-button {
    border-radius: 18px;
    background-color: #FFEDE0;
    color: black;
    margin-right: 5px;
}

.save-button:hover {
    border-radius: 18px;
    background-color: #FFC093;
    color: black;
}

.send-button {
    border-radius: 18px;
    background-color: #FFC093;
    color: black;
    width: 250px
}

.send-button:hover {
    border-radius: 18px;
    background-color: #ff8e41;
    color: black;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-selected:after {
    content: " Selected"
}
.btn-selected:hover:after {
    content: " Remove"
}

.red-apple path {
    fill: #ed6866;
}

/*.crud_input:hover .image-upload>input {
  display: none;
}*/

.image-upload>input {
    display: none;
}

.white-shadow {
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 1);
}

.white-circle-shadow {
    box-shadow: 0px 0px 11px rgba(255, 255, 255, 1);
}

.black-circle-shadow {
    box-shadow: 0px 0px 11px rgb(105, 105, 105);
}


.image-fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.loader {
    width: 315px;
    height: 250px;
    cursor: progress;
    background:
            linear-gradient(0.25turn, transparent, #fff, transparent),
            linear-gradient(#eee, #eee),
            radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
            linear-gradient(#eee, #eee);
    background-repeat: no-repeat;
    background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
}

.sign-up-phone-number {

    background-color: transparent;
    text-align: center;
    border: none;
    color: white;
    font-size: 40px;
    caret-color: white;
    letter-spacing: -2px;
    font-weight: 600;

}

.sign-up-phone-number:focus {
    outline: none;
    box-shadow: none;
}

div#preload { display: none; }

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
